@font-face {
  font-family: 'Blade Runner Movie Font';
  src: url('Font/BLADRMF.TTF')
}

:root {
  --font-size-9: 9rem;
  --font-size-4: 4rem;
  --bg-key-color: #dbd9d9;
  --calc-padding: 10px;
  --calc-border-radius: 10px;
  --txt-color: #ffffff;
  --100: 100%;
}

html {
  font-family: 'Blade Runner Movie Font';
  box-sizing: border-box;
  font-size: 10px;
  height: var(--100);
}

body {
  display: flex;
  margin: 0;
  height: var(--100);
  background-image: url(Images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.calculator__heading {
  display: block;
  text-align: center;
  font-size: 12rem;
  margin-bottom: 2rem;
  color: var(--txt-color);
}

.calculator__display,
.calculator__history {
  color: var(--txt-color);
  border: 1px solid #cccaca;
  border-radius: 0.5rem;
  text-align: right;
  padding: 0.3rem 0.5rem;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.calculator__display {
  font-size: var(--font-size-9);
}

.calculator__history {
  font-size: 5rem;
}

.calculator__btn-value {
  color: var(--txt-color);
  font-size: var(--font-size-9);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #cecdcd;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.calculator__btn-value:hover {
  color: var(--txt-color);
}

.calculator__btn-value:active {
  background-color: var(--txt-color);
}

.calculator__grid {
  margin: 0 auto;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  background: hsla(0, 0%, 100%, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10rem 11rem repeat(5, 10rem);
  grid-gap: 0.5rem;
  grid-template-areas:
    "history history history history"
    "display display display display"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main";
}

.calculator__history {
  grid-area: history;
}

.calculator__display {
  grid-area: display;
}

.period {
  grid-column: span 2;
}

@media only screen and (max-width: 1440px) {
  .calculator__grid {
    grid-template-rows: 9rem 10rem repeat(1, 11rem);
    width: 65rem;
  }

  .calculator__heading {
    font-size: var(--font-size-9);
  }

  .calculator__display {
    font-size: var(--font-size-9);
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {

  .calculator__heading {
    font-size: var(--font-size-4);
  }

  .calculator__grid {
    grid-template-rows: 4rem 6rem repeat(1, 6rem);
    width: 27rem;
  }

  .calculator__history {
    font-size: 2rem;
  }

  .calculator__display {
    font-size: var(--font-size-4);
  }

  .calculator__btn-value {
    font-size: var(--font-size-4);
  }
}