:root {
    --font-size: 1.2rem;
    --bg-key-color: #dbd9d9;
    --calc-padding: 10px;
    --calc-border-radius: 10px;
  }

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #3f7ab1;
}

section {
    margin-top: 10rem;
}

.calculator__heading {
    display: block;
    text-align: center;
    font-size: 5.2rem;
    margin-bottom: 2rem;
}

.calculator__display,
.calculator__history {
  color: #000408;
  background-color: var(--bg-key-color);
  border: 1px solid #cccaca;
  border-radius: 0.5rem;
  text-align: right;
  padding: 0.3rem 0.5rem;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.calculator__display {
  font-size: 2rem;
}

.calculator__history {
  font-size: 1.2rem;
}

.calculator__btn-value {
  background-color: var(--bg-key-color);
  color: #000000;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #cecdcd;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
  
  .calculator__btn-value:hover {
    background-color: #8a9aaf;
    color: var(--txt-color);
 }
  
  .calculator__btn-value:active {
    background-color: #e5e2e2;
}
  
.calculator__grid {
  margin: 0 auto;
  background-color: #e5e2e2;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 80%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3rem 5rem repeat(5, 7rem);
  grid-gap: 0.5rem;
  grid-template-areas:
    "history history history history"
    "display display display display"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main";
}

.calculator__history {
  grid-area: history;
}

.calculator__display {
  grid-area: display;
}

.period {
  grid-column: span 2;
}


@media only screen and (min-width: 31.25em) {
  .calculator__grid {
    width: 40rem;
  }

  .calculator__display {
    font-size: 2.8rem;
  }
}
